section {
  height: 75vh;
}

section h3 {
  font-size: 3rem; /* 48px */
  color: var(--primary-color);
}

section p {
  font-size: 1.25rem; /* 20px */
  color: white;
}

.planned-games {
  background: #00000080;
}

.planned-games .planned-games-content {
  background: url("/assets/hash-straight.svg") repeat;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.planned-games-content h1 {
  color: white;
  font-weight: 800;
  font-size: 6rem;
}

.table {
  height: 100%;
}

table {
  width: 100%;
  padding: 6rem;
  color: white;
  text-align: center;
}

table tbody td,
table thead th {
  padding: 1rem 2rem;
  background-color: #0c0c0c;
}
