section {
  height: 75vh;
}

section h3 {
  font-size: 3rem; /* 48px */
  color: var(--primary-color);
  margin-bottom: 2rem;
}

section p {
  font-size: 1.25rem; /* 20px */
  color: white;
}

.about {
  background: url("/loud/assets/trophy.webp");
  background-size: cover;
}

.about .about-content {
  background: #00000080;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-content h1 {
  color: white;
  font-weight: 800;
  font-size: 6rem;
}

.about-content span {
  color: white;
  font-weight: 700;
  font-size: 2rem;
}

.start {
  height: 100%;
  padding: 2rem 15rem;
  display: flex;

  flex-direction: column;
  justify-content: space-evenly;
}

.start .start-title {
  align-items: flex-start;
}

.start .start-text {
  display: flex;
  flex-direction: column;
  text-align: justify;
  align-self: center;
  width: 50%;
}

.start .start-text p {
  margin: 1rem;
}

.pillars {
  padding: 2rem 15rem;
  height: 100%;
}

.pillars-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 4rem;
}

.pillars-text .card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.pillars-text .card img {
  width: 3rem;
}

.pillars-text .card p {
  width: 15rem;
}
